
.c-green {
    color: #20AD96;
}

.c-dark {
    color: #42495B;
}

.c-white {
    color: white;
}

.bg-green {
    background-color: #20AD96;
}

.fz-20 {
    font-size: 20px;
}

.fz-30 {
    font-size: 30px;
}

.fw-bolder {
    font-weight: bolder;
}